<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  This page shows a singular cars' details.

  <p>
    Brand: <%= carDetails.brand_name %>
  </p>
  <p>
    Model: <%= carDetails.model_name %>
  </p>
  <p>
    Car type: <%= carDetails.type %>
  </p>
  <p>
    Horsepower: <%= carDetails.horsepower %>
  </p>
  <p
    style="color:<%=carDetails.car_color%>; background-color:<%= carDetails.car_color === 'white' ? 'black' : 'transparent' %>;">
    Color: <%= carDetails.car_color %>
  </p>
  <p>
    Description: <%= carDetails.car_description %>
  </p>


  <p>
    <a href="/edit/<%=carDetails.id%>">
      <span>
        Edit Car
      </span>
    </a>
  </p>





  <%- include('partials/navbar', {links:links}) %>
</body>

</html>